.categorySection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.categoryContainer {
    width: 100%;
    max-width: var(--layout);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

.categoryText {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;
}

.categoryText h2 {
    font-size: var(--subSectionSize);
    font-weight: var(--subSectionWeight);
}