.user {
    width: 100%;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 1rem;
    background: var(--heroBackground);
    color: black;
}
.carouselContainer {
    width: 100%;
}
.userImage {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%
}
.carouselItem {
    padding: 1rem;
}
.author {
    color: var(--getStarted);
}